.btn {
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 14px;
    line-height: 1.39;
    padding: 10px 28px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 18px;
    line-height: 25px;
    padding: 14px 32px;
  }

  svg {
    vertical-align: middle;
  }

  &.btn-link {
    padding: 0;
    text-decoration: underline;
    opacity: 0.5;

    &:hover {
      text-decoration: none;
      color: inherit;
      background: transparent;
      border-color: transparent;
    }
  }
}

.btn-secondary {
  background-color: $warm-light;
  color: $black;
  &:hover {
    background-color: $black;
    color: $white;
  }
}
