.btn {
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 14px;
    line-height: 1.39;
    font-weight: 600;
    padding: 10px 28px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 18px;
    line-height: 25px;
    padding: 14px 32px;
  }

  &:hover {
    background: $bright-red;
  }
}
