# This is a sample config for local development.
# Simply edit/copy as needed and rename to .env.local.
# application.php will load this file if you're not in a Pantheon (dev/test/live) environment.

# Be sure to replace YOUR-LOCAL-DOMAIN below too.
SSH_KEY_PATH='~/ssh/YOUR_SSH_KEY'

DB_NAME='db'
DB_USER='db'
DB_PASSWORD='db'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
DB_HOST='db' # this refers to our Docker volume - do not change
DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='https://pantheon-wordpress-base.ddev.site'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path starting from web root.
# WP_DEBUG_LOG='/app/debug.log'

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

ACFE_PRO_URL="${WP_HOME}"