{% set ancestors = fn('get_post_ancestors', post)|default([]) %}

{% if post_type != 'page' %}
  {% set archive_page = get_post_type_archive(post_type) %}
  {% if archive_page %}
    {% set ancestors = ancestors|merge([archive_page]) %}
  {% endif %}
{% endif %}

{% if ancestors is not empty %}
  <nav class="back-link" aria-label="breadcrumb">
    <ol class="list-group-horizontal list-group list-unstyled">
      {% for item in ancestors|reverse %}
        {% set breadcrumb = get_post(item) %}
        <li class="list-group-item border-0">
          <a href="{{ breadcrumb.path }}">{{breadcrumb.title}}</a>
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
