{% set parent = post.parent %}
{% if parent is empty and post.post_type != 'page' %}
  {% set parent = get_post_type_archive(post.post_type) %}
{% endif %}

{% if parent is not empty %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <a href="{{ parent.path }}">{{parent.title}}</a>
      </li>
    </ol>
  </nav>
{% endif %}
