{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_year-carousel' } %}
  {% block content %}


    <p>{{fields.headline}}</p>

    {% for row in fields.carousel %}


      <p>{{row['title']}}</p>

      {{row['content']}}

    {% endfor %}

  {% endblock %}
{% endembed %}
