{% embed '@views/tease.twig' with {
  tease_options: {
    extra_classes:'has-overlay-background tease-list event-list',
  },
  post
} only %}
  {% block content %}
    <div class="row">
      <div class="col-12 col-md-4 img-holder">
        <div data-bs-theme="warm-dark" class="media-wrapper">
          {% if post.thumbnail %}
            <a href="{{post.link}}">
              {% include "@partial/media-item.twig" with { image: post.thumbnail } only %}
            </a>
          {% else %}
            <div class="img-data">Aug 30</div>
          {% endif %}
        </div>
      </div>
      <div class="col-12 col-md-6 text-holder">
        <div class="date">Friday May, 23 <span class="mark">/</span> 11:30a to 12:30p Pacific Time</div>
        <h2 class="h5"><a href="{{post.link}}">{{post.post_title}}</a></h2>

        <ul class="category-list list-unstyled">
          <li><a href="#" class="btn btn-secondary">Research area tag</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-2 text-end btn-holder d-none d-md-block">
        <a href="{{post.link}}" class="btn btn-primary">RSVP
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="191.58 4.3235294117647065 15.037999999999998 6.1764705882352935" style="max-height: 500px" width="15.037999999999998" height="6.1764705882352935">
            <path fill="currentColor" d="M8.56407 0.899999H10.9401L7.10607 13.5H4.28007L0.44607 0.899999H2.82207L5.70207 11.376L8.56407 0.899999ZM18.6822 4.14V11.646H21.3822V13.5H13.3182V11.646H16.3782V5.994H13.3182V4.14H18.6822ZM16.3422 3.006V0.665999H18.7182V3.006H16.3422ZM28.0623 13.68C25.6143 13.68 23.4183 11.952 23.4183 8.82C23.4183 5.76 25.5603 3.96 28.0263 3.96C31.2123 3.96 32.7603 6.3 32.6523 9.504H25.7583V9.63C25.8843 11.124 26.9463 11.88 28.0623 11.88C29.0523 11.88 29.8083 11.412 30.1503 10.584H32.5083C31.9143 12.654 30.1143 13.68 28.0623 13.68ZM25.7763 7.812H30.2763C30.0783 6.462 29.1963 5.76 28.0263 5.76C26.9103 5.76 25.9563 6.462 25.7763 7.812ZM34.1124 4.14H36.0924L36.9204 10.242V10.782L38.2524 4.14H40.1244L41.4564 10.782V10.242L42.2844 4.14H44.2644L42.7164 13.5H40.3044L39.1884 7.866L38.0724 13.5H35.6604L34.1124 4.14ZM57.0846 8.82C57.0846 5.58 59.2446 3.96 61.7106 3.96C63.8526 3.96 65.5986 5.112 66.0846 7.308H63.7626C63.4386 6.3 62.7186 5.76 61.7106 5.76C60.4146 5.76 59.3886 6.786 59.3886 8.82C59.3886 10.854 60.4146 11.88 61.7106 11.88C62.7186 11.88 63.4386 11.34 63.7626 10.332H66.0846C65.5986 12.528 63.8526 13.68 61.7106 13.68C59.2446 13.68 57.0846 12.06 57.0846 8.82ZM74.8527 8.082C74.8527 6.534 74.2587 5.76 73.1067 5.76C71.8107 5.76 71.0367 6.696 71.0367 8.37V13.5H68.7147V0.899999H71.0367V5.49C71.6487 4.482 72.6567 3.96 73.9347 3.96C75.8607 3.96 77.1747 5.166 77.1747 7.74V13.5H74.8527V8.082ZM79.4628 10.998C79.4628 9.342 80.7768 8.208 83.8548 7.956L85.4388 7.812V7.632C85.4388 6.174 84.8268 5.652 83.7648 5.652C82.7568 5.652 82.0908 6.228 81.9648 7.11H79.6968C80.0748 5.076 81.7488 3.96 83.8368 3.96C86.0868 3.96 87.7428 4.95 87.7428 8.082V12.132C87.7428 12.636 87.7968 13.14 87.8868 13.5H85.7448C85.6908 13.14 85.6548 12.654 85.6548 12.132V11.988C85.1868 13.014 84.2868 13.68 82.6848 13.68C80.6328 13.68 79.4628 12.492 79.4628 10.998ZM81.7848 10.854C81.7848 11.52 82.2528 12.114 83.3688 12.114C84.7008 12.114 85.4388 11.214 85.4388 10.026V9.288L84.3228 9.378C82.5768 9.504 81.7848 9.972 81.7848 10.854ZM95.5389 4.14V5.49C96.0069 4.572 96.8349 4.14 98.1849 4.14H99.8589V5.994H97.9689C96.4029 5.994 95.5389 6.534 95.5389 8.388V11.646H98.6349V13.5H90.5709V11.646H93.2169V5.994H90.5709V4.14H95.5389ZM106.917 10.53C106.917 11.538 107.547 11.646 108.321 11.646H110.067V13.5H107.727C106.017 13.5 104.595 12.996 104.595 10.746V5.994H101.805V4.14H104.595V1.98H106.917V4.14H110.067V5.994H106.917V10.53ZM130.087 0.899999V11.646H132.787V13.5H124.723V11.646H127.783V2.754H124.723V0.899999H130.087ZM139.647 13.68C137.199 13.68 135.039 12.06 135.039 8.82C135.039 5.58 137.199 3.96 139.647 3.96C142.095 3.96 144.255 5.58 144.255 8.82C144.255 12.06 142.095 13.68 139.647 13.68ZM137.361 8.82C137.361 10.908 138.387 11.88 139.647 11.88C140.907 11.88 141.933 10.908 141.933 8.82C141.933 6.732 140.907 5.76 139.647 5.76C138.387 5.76 137.361 6.732 137.361 8.82ZM151.349 4.14V5.49C151.817 4.572 152.645 4.14 153.995 4.14H155.669V5.994H153.779C152.213 5.994 151.349 6.534 151.349 8.388V11.646H154.445V13.5H146.381V11.646H149.027V5.994H146.381V4.14H151.349ZM162.008 13.68C159.56 13.68 157.364 11.952 157.364 8.82C157.364 5.76 159.506 3.96 161.972 3.96C165.158 3.96 166.706 6.3 166.598 9.504H159.704V9.63C159.83 11.124 160.892 11.88 162.008 11.88C162.998 11.88 163.754 11.412 164.096 10.584H166.454C165.86 12.654 164.06 13.68 162.008 13.68ZM159.722 7.812H164.222C164.024 6.462 163.142 5.76 161.972 5.76C160.856 5.76 159.902 6.462 159.722 7.812ZM168.292 13.5V4.14H170.38V4.86C170.74 4.32 171.28 3.96 172.126 3.96C173.17 3.96 173.71 4.5 173.962 5.256C174.286 4.518 174.88 3.96 175.924 3.96C177.616 3.96 177.976 5.364 177.976 6.822V13.5H175.888V6.984C175.888 6.408 175.798 5.76 175.096 5.76C174.394 5.76 174.196 6.48 174.178 7.038V13.5H172.09V6.984C172.09 6.408 171.982 5.76 171.298 5.76C170.596 5.76 170.38 6.48 170.38 7.038V13.5H168.292ZM202.1 9.45C202.28 9.066 202.454 8.73 202.622 8.442C202.802 8.154 202.976 7.914 203.144 7.722H192.65V6.966H203.144C202.976 6.762 202.802 6.516 202.622 6.228C202.454 5.94 202.28 5.61 202.1 5.238H202.73C203.486 6.114 204.278 6.762 205.106 7.182V7.506C204.278 7.914 203.486 8.562 202.73 9.45H202.1Z"></path>
          </svg>
        </a>
      </div>
    </div>
  {% endblock %}
{% endembed %}
