{% embed '@views/tease.twig' with {
  tease_options: {
    extra_classes:'has-overlay-background tease-list post-list',
  },
  post
} only %}
  {% block content %}
    <div class="row">
      <div class="col-10 col-md-8 col-xl-9 text-holder">
        <div class="date">Friday May, 23 <span class="mark"> · </span> 11:30a to 12:30p Pacific Time</div>
        <h2 class="h5"><a href="{{post.link}}">{{post.post_title}}</a></h2>

        <ul class="category-list list-unstyled">
          <li><a href="#" class="btn btn-secondary">Research area tag</a></li>
        </ul>
      </div>

      <div class="col-2 col-md-4 col-xl-3 img-holder">
        <a href="{{post.link}}">

          {% if post.thumbnail %}
            <div class="d-none d-md-block">
              {% include "@partial/media-item.twig" with { image: post.thumbnail } only %}
            </div>
          {% endif %}

          <span class="btn btn-secondary more-link">
            <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.44738 8.14616L0.851562 7.55034L6.69624 1.70566H1.33389V0.854492H8.14323V7.66383H7.29206V2.30148L1.44738 8.14616Z" fill="currentColor"/>
            </svg>
          </span>
        </a>
      </div>
    </div>

  {% endblock %}
{% endembed %}
