{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_page-header' } %}
  {% block content %}
    <div class="container">
      {% if fields.title_size == 'small' %}
        <h4>Select type: Small</h4>
        ,
      {% elseif fields.title_size == 'medium' %}
        <h4>Select type: Medium</h4>
        ,
      {% elseif fields.title_size == 'large' %}
        <h4>Select type: Large</h4>
        ,
      {% elseif fields.title_size == 'extra_large' %}
        <h4>Select type: Extra Large</h4>
      {% endif %}

      {{fields.intro_copy}}
    </div>

    {# Archive Header #}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Archive</h1>
          <strong class="subtitle"></strong>
        </div>
      </div>
    </div>

    {# Archive Header with Search #}
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <h1>Archive</h1>
        </div>
        <div class="col-12 col-md-6">
          <form>
            <input type="text" placeholder="Looking for someone specific? ">
            <button type="submit">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.76953 1C8.40342 1.00008 10.539 3.13538 10.5391 5.76953C10.5391 8.40376 8.40347 10.539 5.76953 10.5391C3.13552 10.5391 1 8.40381 1 5.76953C1.00009 3.13533 3.13558 1 5.76953 1Z" stroke="black" stroke-width="2"/>
              <line y1="-1" x2="8.2422" y2="-1" transform="matrix(0.707088 0.707126 -0.707088 0.707126 8.24219 9.88965)" stroke="black" stroke-width="2"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>

    {# Large Page Title #}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Archive</h1>
        </div>
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Leadership</a></li>
              <li class="breadcrumb-item"><a href="#">Education</a></li>
              <li class="breadcrumb-item"><a href="#">Give</a></li>
              <li class="breadcrumb-item"><a href="#">Supporters</a></li>
              <li class="breadcrumb-item active" aria-current="page">Corporate Affiliates</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    {# Basic Page Title  #}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="#" class="back-link">← About</a>

          <h1 class="h2">Archive</h1>
        </div>
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Leadership</a></li>
              <li class="breadcrumb-item"><a href="#">Education</a></li>
              <li class="breadcrumb-item"><a href="#">Give</a></li>
              <li class="breadcrumb-item"><a href="#">Supporters</a></li>
              <li class="breadcrumb-item active" aria-current="page">Corporate Affiliates</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>

    {# Basic Page Title - No Subpages #}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="#" class="back-link">← About</a>

          <h1 class="h2">Archive</h1>
        </div>
      </div>
    </div>

    {# Archive Header with Search and Back #}
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <a href="#" class="back-link">← About</a>

          <h1>Archive</h1>
        </div>
        <div class="col-12 col-md-6">
          <form>
            <input type="text" placeholder="Looking for someone specific? ">
            <button type="submit">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.76953 1C8.40342 1.00008 10.539 3.13538 10.5391 5.76953C10.5391 8.40376 8.40347 10.539 5.76953 10.5391C3.13552 10.5391 1 8.40381 1 5.76953C1.00009 3.13533 3.13558 1 5.76953 1Z" stroke="black" stroke-width="2"/>
              <line y1="-1" x2="8.2422" y2="-1" transform="matrix(0.707088 0.707126 -0.707088 0.707126 8.24219 9.88965)" stroke="black" stroke-width="2"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>

    {# Project Header #}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="#" class="back-link">← Research / All Work</a>

          <h1 class="h2">Archive</h1>

          <div class="category-list">
            <div class="category"><a href="#">project</a></div>
            <div class="category"><a href="#">Economics of Transformative AI</a></div>
        </div>
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Leadership</a></li>
              <li class="breadcrumb-item"><a href="#">Education</a></li>
              <li class="breadcrumb-item"><a href="#">Give</a></li>
              <li class="breadcrumb-item"><a href="#">Supporters</a></li>
              <li class="breadcrumb-item active" aria-current="page">Corporate Affiliates</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>


  {% endblock %}
{% endembed %}
