{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_page-header' } %}
  {% block content %}
    {# {% include '@partial/page-header-title.twig' with { fields: fields } %} #}
    {# <div class="container">
      {% if fields.title_size == 'small' %}
        <h4>Select type: Small</h4>
        ,
      {% elseif fields.title_size == 'medium' %}
        <h4>Select type: Medium</h4>
        ,
      {% elseif fields.title_size == 'large' %}
        <h4>Select type: Large</h4>
        ,
      {% elseif fields.title_size == 'extra_large' %}
        <h4>Select type: Extra Large</h4>
      {% endif %}

      {{fields.intro_copy}}
    </div> #}

    {# Archive Header #}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="h2">Events</h1>
          <strong class="subtitle h5 d-block">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</strong>
        </div>
      </div>
    </div>

    {# Large Page Title #}
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Archive</h1>
        </div>
        <div class="col-12">
          <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <button class="btn d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navigation1" aria-expanded="false" aria-controls="navigation1">
              <span><span class="text text-show">Show</span><span class="text text-close">Close</span> navigation</span>
              <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 8L13.0622 0.500001L0.937822 0.500001L7 8Z" fill="black"/>
              </svg>
            </button>

            <div class="collapse d-md-block" id="navigation1">
              <ol class="breadcrumb list-unstyled">
                <li class="breadcrumb-item"><a href="#">Leadership</a></li>
                <li class="breadcrumb-item"><a href="#">Education</a></li>
                <li class="breadcrumb-item"><a href="#">Give</a></li>
                <li class="breadcrumb-item"><a href="#">Supporters</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>Corporate Affiliates</span></li>
              </ol>
            </div>
          </nav>
        </div>
      </div>
    </div>

    {# Archive Header with Search #}
    <div class="container form-heading">
      <div class="row align-items-center align-items-md-end">
        <div class="col-12 col-lg-7">
          <h1>Archive</h1>
        </div>
        <div class="col-12 col-lg-5 form-holder">
          <form>
            <input type="text" placeholder="Looking for someone specific?">
            <button type="submit">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.76953 1C8.40342 1.00008 10.539 3.13538 10.5391 5.76953C10.5391 8.40376 8.40347 10.539 5.76953 10.5391C3.13552 10.5391 1 8.40381 1 5.76953C1.00009 3.13533 3.13558 1 5.76953 1Z" stroke="currentColor" stroke-width="2"/>
              <line y1="-1" x2="8.2422" y2="-1" transform="matrix(0.707088 0.707126 -0.707088 0.707126 8.24219 9.88965)" stroke="currentColor" stroke-width="2"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>

    {# Basic Page Title  #}
    <div data-bs-theme="warm-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="back-link"><a href="#">About</a></div>

            <h1 class="h4">Basic page title</h1>
          </div>
          <div class="col-12">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
              <button class="btn d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navigation2" aria-expanded="false" aria-controls="navigation2">
                <span><span class="text text-show">Show</span> <span class="text text-close">Close</span> navigation</span>
                <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 8L13.0622 0.500001L0.937822 0.500001L7 8Z" fill="black"/>
                </svg>
              </button>
              <div class="collapse d-md-block" id="navigation2">
                <ol class="breadcrumb list-unstyled">
                  <li class="breadcrumb-item"><a href="#">Optional Sub-pages</a></li>
                  <li class="breadcrumb-item"><a href="#">Opportunities</a></li>
                  <li class="breadcrumb-item"><a href="#">Give</a></li>
                  <li class="breadcrumb-item"><a href="#">Supporters</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><span>Corporate Affiliates</span></li>
                </ol>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    {# Basic Page Title - No Subpages #}
    <div data-bs-theme="warm-light">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="back-link"><a href="#">About</a></div>

            <h1 class="h4">Basic page title</h1>
          </div>
        </div>
      </div>
    </div>

    {# Archive Header with Search and Back #}
    <div class="container form-heading">
      <div class="row align-items-center align-items-md-end">
        <div class="col-12 col-lg-7">
          <div class="back-link"><a href="#">About</a></div>

          <h1 class="h3">All Work</h1>
        </div>

        <div class="col-12 col-lg-5 form-holder">
          <form>
            <input type="text" placeholder="Search by keyword lorem">
            <button type="submit">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.76953 1C8.40342 1.00008 10.539 3.13538 10.5391 5.76953C10.5391 8.40376 8.40347 10.539 5.76953 10.5391C3.13552 10.5391 1 8.40381 1 5.76953C1.00009 3.13533 3.13558 1 5.76953 1Z" stroke="currentColor" stroke-width="2"/>
              <line y1="-1" x2="8.2422" y2="-1" transform="matrix(0.707088 0.707126 -0.707088 0.707126 8.24219 9.88965)" stroke="currentColor" stroke-width="2"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
