{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_work-archive' } %}
  {% block content %}
    <form
      action="{{ ajax_url }}"
      method="get"
      class="ajax-form-js hide-selected-labels"
    >
      {% include '@partial/archive-heading.twig' with { fields: fields, request: request } only %}
      <div class="works-wrap">
        <div class="container">
          {% include '@blocks/work-archive/work-archive-filters.twig' with { fields: fields } %}
          <div class="ajax-results-js">
            {% include '@blocks/work-archive/work-archive-results.twig' with {
              fields: fields,
              posts: posts,
              hide_featured: hide_featured
            } %}
          </div>

        </div>
      </div>
    </form>
  {% endblock %}
{% endembed %}
