{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_single-media-item' } %}
  {% block content %}


    <p>{{fields.headline}}</p>


    {% include '@partial/media-item.twig' with { image: fields.media_item } only %}

  {% endblock %}
{% endembed %}
