.block_homepage-header {
  // Add your custom styles here
  padding: 85px 0 40px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 150px 0 61px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
    padding-top: 250px;
  }

  h1 {
    margin: 0;
    font-size: 50px;
    line-height: 1;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 100px;
      letter-spacing: -1.5px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
      font-size: 120px;
      letter-spacing: -2px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
      font-size: 146px;
      line-height: 142px;
      letter-spacing: -3px;
    }
  }

  .mark {
    color: $bright-red;
    padding: 0;
    background: transparent;
  }

  .animating-text-holder {
    overflow: hidden;
    width: 100%;
    height: 52px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      height: 112px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      height: 148px;
    }
  }
}
