.block_news-list {
  // Add your custom styles here

  .posts-list {

    .text-holder {
      padding-right: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-right: 25px;
      }
    }

    .img-holder {
      padding-left: 14px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-left: 15px;
        padding-right: 17px;
      }
    }
  }

  .tease {
    padding: 26px 0 9px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 40px 12px 10px;
    }
  }
}

.block_post-list {
  padding: 37px 0 60px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 60px 0 84px;
  }
}

.posts-wrap {

  .h5 {
    margin-bottom: 23px;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 44px;
      line-height: 50px;
      margin-bottom: 35px;
    }
  }

  .img-holder {

    .media-wrapper {
      position: relative;
      padding-bottom: 85%;
      overflow: hidden;
      margin-bottom: 12px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-bottom: 93%;
        margin-bottom: 0;
      }

      .media-item_holder {
        position: static;
        padding: 0;
        overflow: visible;
      }
    }

    .btn {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        position: absolute;
        top: 10px;
        right: 29px;
      }
    }
  }
}

.img-data {
  color: $black;
  font-size: 44px;
  line-height: 43px;
  position: absolute;
  top: 16px;
  left: 19px;
  max-width: 130px;
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 65px;
    line-height: 1;
    top: 37px;
    left: 29px;
  }
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    margin-top: auto;
  }

  li {
    padding-right: 10px;
  }

  .btn {
    text-transform: uppercase;
    font-size: 9px;
    line-height: 20px;
    font-weight: 600;
    padding: 1px 10px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 12px;
      padding: 3px 12px;
    }
  }
}

.date {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 22px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 20px;
  }

  .mark {
    color: inherit;
    margin: 0 1px;
    background: transparent;
  }
}

.more-link {
  color: $black;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    background-color: $warm-light;
  }

  &:hover {
    color: $black;
    background: transparent;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      background-color: $black;
      color: $white;
    }
  }
}
