// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// FT System Grotesk font:
@font-face {
  font-family: 'FT System Grotesk';
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBold.eot');
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBold.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBold.ttf') format('truetype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBold.woff') format('woff'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FT System Grotesk';
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBoldItalic.eot');
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBoldItalic.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBoldItalic.ttf') format('truetype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBoldItalic.woff') format('woff'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskBoldItalic.svg') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'FT System Grotesk';
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLight.eot');
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLight.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLight.ttf') format('truetype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLight.woff') format('woff'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLight.svg') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FT System Grotesk';
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLightItalic.eot');
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLightItalic.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLightItalic.ttf') format('truetype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLightItalic.woff') format('woff'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskLightItalic.svg') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'FT System Grotesk';
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMedium.eot');
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMedium.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMedium.ttf') format('truetype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMedium.woff') format('woff'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMedium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FT System Grotesk';
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMediumItalic.eot');
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMediumItalic.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMediumItalic.ttf') format('truetype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMediumItalic.woff') format('woff'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskMediumItalic.svg') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: 'FT System Grotesk';
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegular.eot');
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegular.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegular.ttf') format('truetype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegular.woff') format('woff'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FT System Grotesk';
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegularItalic.eot');
  src:  url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegularItalic.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegularItalic.ttf') format('truetype'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegularItalic.woff') format('woff'),
    url('../assets/fonts/FTSystemGrotesk/FTSystem-GroteskRegularItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}


// FT System Mono font:
@font-face {
  font-family: 'FT System Mono';
  src:  url('../assets/fonts/FTSystemMono/FTSystemMono-Regular.eot');
  src:  url('../assets/fonts/FTSystemMono/FTSystemMono-Regular.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemMono/FTSystemMono-Regular.ttf') format('truetype'),
    url('../assets/fonts/FTSystemMono/FTSystemMono-Regular.woff') format('woff'),
    url('../assets/fonts/FTSystemMono/FTSystemMono-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'FT System Mono';
  src:  url('../assets/fonts/FTSystemMono/FTSystemMono-Semibold.eot');
  src:  url('../assets/fonts/FTSystemMono/FTSystemMono-Semibold.eot') format('embedded-opentype'),
    url('../assets/fonts/FTSystemMono/FTSystemMono-Semibold.ttf') format('truetype'),
    url('../assets/fonts/FTSystemMono/FTSystemMono-Semibold.woff') format('woff'),
    url('../assets/fonts/FTSystemMono/FTSystemMono-Semibold.svg') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

// Season font:
@font-face {
  font-family: 'Season';
  src:  url('../assets/fonts/Season/SeasonSerif-Regular.eot');
  src:  url('../assets/fonts/Season/SeasonSerif-Regular.eot') format('embedded-opentype'),
    url('../assets/fonts/Season/SeasonSerif-Regular.ttf') format('truetype'),
    url('../assets/fonts/Season/SeasonSerif-Regular.woff') format('woff'),
    url('../assets/fonts/Season/SeasonSerif-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Season';
  src:  url('../assets/fonts/Season/SeasonSerif-RegularItalic.eot');
  src:  url('../assets/fonts/Season/SeasonSerif-RegularItalic.eot') format('embedded-opentype'),
    url('../assets/fonts/Season/SeasonSerif-RegularItalic.ttf') format('truetype'),
    url('../assets/fonts/Season/SeasonSerif-RegularItalic.woff') format('woff'),
    url('../assets/fonts/Season/SeasonSerif-RegularItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}

// Solar font:
@font-face {
  font-family: 'Solar';
  src:  url('../assets/fonts/Solar/ABCSolar-Medium.eot');
  src:  url('../assets/fonts/Solar/ABCSolar-Medium.eot') format('embedded-opentype'),
    url('../assets/fonts/Solar/ABCSolar-Medium.ttf') format('truetype'),
    url('../assets/fonts/Solar/ABCSolar-Medium.woff') format('woff'),
    url('../assets/fonts/Solar/ABCSolar-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
