:scope {
  font-family: $font-family-sans-serif;
}

h6, .h6,
h5, .h5,
h4, .h4,
h3, .h3,
h2, .h2,
h1, .h1 {
  color: inherit;
}

h1, .h1 {
  font-size: 90px;
  line-height: 1;
  letter-spacing: -0.4px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 100px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 110px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
    font-size: 120px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
    font-size: 140px;
    line-height: 110px;
  }
}

h2, .h2 {
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 1;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 95px;
    line-height: 95px;
  }
}

h3, .h3 {
  letter-spacing: 0;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 75px;
    line-height: 81px;
  }
}

h4, .h4 {
  letter-spacing: -0.5px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 65px;
    line-height: 72px;
  }
}

h5, .h5 {
  font-family: 'Season';
  font-weight: 470;
  letter-spacing: 0;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 16px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 34px;
    line-height: 1.167;
    margin-bottom: 24px;
  }
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 48px;
    line-height: 52px;
    margin-bottom: 51px;
  }
}

h6, .subheader {
  font-family: 'Season';
  font-weight: 470;
  letter-spacing: 0;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 32px;
    line-height: 32px;
  }
}

.subheader-small {
  font-family: 'Season';
  font-weight: 470;
  letter-spacing: 0;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    font-size: 28px;
    line-height: 32px;
  }
}

.subheader-sans {
  font-family: 'FT System Grotesk';
  font-weight: 400;
  letter-spacing: -0.2px;
  font-size: 18px;
  line-height: 28px;
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 28px;
  }
}

.caption {
  font-family: 'FT System Mono';
  letter-spacing: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.2px;
  }
}

p {
  margin-bottom: 14px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    margin-bottom: 17px;
  }
}

.media-item_caption {
  font-family: 'FT System Mono';
  padding-top: 17px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    font-size: 14px;
    padding-top: 19px;
    letter-spacing: 0.1px;
  }
}

ul:not(.navbar-nav):not(.list-unstyled) {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    margin-bottom: 40px;
  }

  li {
    position: relative;
    padding-left: 18px;
    margin-bottom: 9px;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg'))  {
      padding-left: 21px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 6px;
      height: 6px;
      background: $stanford-red;
      border-radius: 50%;
      transform: translateY(-50%);
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        top: 14px;
      }
    }
  }
}

ol:not(.list-unstyled) {
  padding: 0;
  margin: 0 0 30px;
  list-style: none;
  list-style-type: none;
  counter-reset: my-custom-counter;
  @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
    margin-bottom: 40px;
  }

  li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 14px;
    counter-increment: my-custom-counter;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      padding-left: 32px;
      margin-bottom: 16px;
    }

    &::before {
      content: counter(my-custom-counter); /* Display the counter value */
      color: $white;
      font-size: 12px;
      line-height: 16px;
      background-color: $stanford-red;
      width: 16px;
      height: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 2px;
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        font-size: 16px;
        line-height: 18px;
        width: 18px;
        height: 18px;
        top: 5px;
      }
    }
  }
}
