:scope {
  font-family: $font-family-sans-serif;
}

h1 {
  font-size: 140px;
  font-weight: 300;
  line-height: 110px;
  letter-spacing: -0.4px;

//   Name
// Sans 140 (Title)

// Font
// FT System
}

h2 {
  font-weight: 300;
  font-size: 95px;
  line-height: 95px;
  letter-spacing: -1px;
//   Name
// Sans 95 (Sm Title)

// Font
// FT System

// Letter spacing
// -3%
}
