<footer class="footer" id="footer">
  <div class="container">
    <div class="row footer-info-top">
      <div class="col-12 col-md-6">
        <address class="footer-address">
          <p>{{ options.footer.address }}</p>
          <h4>Get in touch</h4>
          <p><a href="mailto:{{ options.footer.contact_email }}">{{ options.footer.contact_email }}</a></p>
        </address>
      </div>
      <div class="col-12 col-md-6">
      </div>
    </div>

    <div class="row footer-info-medium">
      <div class="col-12 col-md-6">
      </div>
      <div class="col-12 col-md-6">
      </div>
    </div>

    <div class="row footer-info-bottom">
      <div class="col-12">
      </div>
    </div>
  </div>
</footer>
