.block_quote {
  // Add your custom styles here
  padding: 52px 0 52px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 60px 0;
  }

  .name {
    font-size: 16px;
    line-height: 22px;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 22px;
      line-height: 30px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
      margin-top: -6px;
    }
  }

  .titles {
    opacity: 0.65;
    font-size: 16px;
    line-height: 22px;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  .quote-content {
    font-family: 'Season';
    font-weight: 470;
    font-size: 24px;
    line-height: 28px;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 40px;
      line-height: 50px;
      padding-left: 8px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
      font-size: 60px;
      line-height: 70px;
    }

    p {
      position: relative;

      &:first-child {
        &:before {
          content: '“';
          position: absolute;
          top: 0;
          right: 100%;
        }
      }

      &:last-child {
        &:after {
          content: '”';
        }
      }
    }
  }

  .border-holder {
    border-top: 1px solid ;
    border-bottom: 1px solid;
    padding: 23px 0 14px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 45px 30px 47px;
      margin: 0 -36px;
    }

    & ~ .btn {
      margin-top: 24px;
       @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-top: 45px;
      }
    }
  }

  .quote-info {
    margin-bottom: 37px;
    align-items: center;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      margin-bottom: 0;
      align-items: flex-start;
    }
  }

  .col-img {
    width: 69px;
    flex: none;
    padding-right: 17px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-right: 34px;
      width: 99px;
    }

    .media-item_holder {
      position: relative;
      padding-bottom: 100%;
    }

    figure {
      margin: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 0;
      }

      img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
