{% set block = block|merge({
  backgroundColor: block.backgroundColor|default('light-green')
}) %}

{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_quote full-block-width' } %}
  {% block content %}
    <div class="container">
      <figure class="m-0">
        <blockquote class="blockquote blockquote--{{fields.size|default('large')}}">
          {{fields.quote}}
        </blockquote>

        {% if fields.attribution %}
          <figcaption class="blockquote-footer">
            <cite class="fst-normal d-block">
              {{fields.attribution}}
            </cite>
          </figcaption>
        {% endif %}
      </figure>
    </div>
  {% endblock %}
{% endembed %}
