{% extends "@views/base.twig" %}

{% block content %}
  <article class="block-wrapper container">
    <h1>404 Error</h1>
    <p>
      Doesn’t look like that page exists on this site.
    </p>
    <a href="/" class="btn btn-primary">Back to home</a>
  </article>
{% endblock %}
