{% set page_color = 'green-pale' %}
{% set body_class = body_class ~ ' password-protected' %}

{% extends "@views/base.twig" %}

{% block hero %}
  {% include "@views/heros/hero.twig" with {title: 'This content is password protected'} only %}
{% endblock %}

{% block content %}
  <div class="container password-protected_container">
    <div class="row">
      <div class="col-12 password-protected_col">
        <form class="password-form" action="{{site.site_url}}/wp-login.php?action=postpass" method="post" data-bs-theme="white">
          <input name="wp-submit" type="hidden" value="Enter"/>
          <input type="hidden" name="wp-redirect" value="{{post.link}}"/>
          <label class="h4 form-label" for="pwbox-{{post.ID}}">Please enter the password</label>
          <div class="row">
            <div class="col d-flex">
              <input class="password-box form-control" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20"/>
            </div>
            <div class="col-auto">
              <input class="password-btn btn btn-outline" type="submit" name="Submit" value="Submit"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
