{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_research-area-list' } %}
  {% block content %}
    <div class="container">
      {% set post_type = 'research-area' %}

      <span class="block-title d-block">{{fields.title}}</span>
    </div>

    {% set selections = get_posts({ post_type, post__not_in: [post.id] }) %}

    <div class="research-area-list">
      {% include '@partial/post-repeater.twig' with { posts: selections, theme_attr: 'data-bs-theme="warm-light"' } only %}
    </div>
  {% endblock %}
{% endembed %}
