{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_two-column-text-block' } %}
  {% block content %}
    <div class="container">
      <h2 class="block-title">{{fields.heading}}</h2>

      <div class="row">
        <div class="col-12 col-md-4 col-lg-2 two-column-sidebar">
          {{fields.sidebar_content}}
        </div>
        <div class="col-12 col-md-4 col-lg-5">
          {{fields.column_1}}
        </div>
        <div class="col-12 col-md-4 col-lg-5">
          {{fields.column_2}}
        </div>
      </div>
    </div>
  {% endblock %}
{% endembed %}
