.block_people-callout {
  // Add your custom styles here
  padding: 30px 0;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 53px 0 59px;
  }

  &.block_people-callout_items-per-row- {

    &-3 {

      .callout-item {
        display: block;
        margin-bottom: 39px;

        h3 {
          margin-bottom: 11px;
          font-size: 24px;
          line-height: 28px;
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 7px;
          }
        }
      }

      figure {
        width: 100%;
        margin-bottom: 21px;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-bottom: 28px;
        }
      }

      .text-holder {
        width: 100%;
      }
    }

    &-4 {

      .callout {

        .media-item_holder {
          padding-bottom: 119%;
        }
      }
    }

    &-6 {
      .callout-cards {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-top: 9px;
        }
      }

      .callout {
        h3 {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            font-size: 22px;
            line-height: 1;
            margin-bottom: 11px;
          }
        }

        .media-item_holder {
          padding-bottom: 119%;
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            padding-bottom: 118%;
          }
        }

        figure {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            margin-bottom: 20px;
          }
        }
      }
    }
  }

  &:has(.callout-accordion) {
    .block-title {
      border: 0;
    }
  }

  .block-title {
    border-bottom: 1px solid;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 21px;
    }
  }

  .titles {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 22px;
      line-height: 30px;
    }
  }

  .social-holder {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 16px;
      line-height: 20px;
      transition: padding 0.3s ease-in-out;
    }

    a {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 4px;
    }
  }

  .social-title {
    margin-bottom: 8px;
  }
}

.callout {

  &-accordion {

    .accordion-item:has(.accordion-button[aria-expanded="true"]) {

      .accordion-body {

        .social-holder {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            padding-top: 47px;
          }
          @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
            padding-top: 87px;
          }
        }
      }
    }

    .titles {
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        margin-top: 25px;
      }
    }

    .accordion-button {
      display: block;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding: 17px 60px 18px 0;
      }

      &:hover {
        &:after {
          filter: none;
        }
      }

      &[aria-expanded="true"] {

        &:before {
          background: black;
        }

        .img-holder {

          .media-item_holder {
            padding-bottom: 116%;
            @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
              padding-bottom: 74%;
            }
          }

          img {
            @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
              height: calc(100% + 60px);
              bottom: -60px;
            }
            @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
              height: calc(100% + 80px);
              bottom: -80px;
            }
          }
        }
      }

      &:before {
        background: $white;
        border: 1px solid $black;
      }

      figure {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-bottom: 0;
        }
      }

      .h5 {
        margin-bottom: 0;
        @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
          font-size: 44px;
          line-height: 50px;
          margin-bottom: -8px;
        }
      }

      .title-holder {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-left: 30px;
        }
      }
    }

    .accordion-body {
      padding-top: 0;
      padding-bottom: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding: 6px 80px 90px 0;
      }

      .text-holder {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-left: 35px;
          padding-right: 60px;
        }
      }
    }

    .social-holder {
      margin-bottom: 30px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 0;
      }
    }

    .img-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-right: 3px;
      }

      .media-item_holder {
        position: relative;
        padding-bottom: 74%;
        transition: all 0.3s ease-in-out;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }
    }

    .position-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-left: 51px;
      }
    }
  }

  &-listing {
    padding-top: 34px;

    .callout-item {
      padding-bottom: 30px;
      border-bottom: 1px solid;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-bottom: 70px;
      }

      & + .callout-item {
        padding-top: 60px;
      }

      &:last-child {
        border-bottom: 0;
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-bottom: 38px;
        }
      }
    }

    .h5 {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 1px;
      }
    }

    .titles {
      margin-top: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 50px;
      }
    }

    .img-holder {
      margin-bottom: 30px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-right: 14px;
        margin-bottom: 0;
      }

      img {
        width: 100%;
      }

      figure {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          margin-bottom: 47px;
        }
      }
    }

    .text-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-left: 20px;
      }
    }
  }

  &-cards {
    padding-top: 11px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding-top: 4px;
    }

    .row {
      margin: 0 -18px;

      &>.col-12 {
        padding: 0 18px;
      }
    }

    .callout-item {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-decoration: none;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 38px;
        display: block;
      }

      &:hover {

        h3 {
          text-decoration: underline;
        }

        .media-item {
          transform: scale(1.05);
        }
      }
    }

    figure {
      margin: 0;
      width: 96px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 24px;
        width: 100%;
      }
    }

    .text-holder {
      width: calc(100% - 137px);
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        width: 100%;
      }
    }

    .media-item_holder {
      position: relative;
      overflow: hidden;
      padding-bottom: 126%;
    }

    .media-item {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }

    h3 {
      font-family: 'Season';
      margin-bottom: 6px;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0;
      font-weight: 470;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 28px;
        line-height: 32px;
      }
    }

    .titles {
      font-size: 16px;
      line-height: 22px;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        line-height: 20px;
      }
    }
  }
}
