.block_people-callout {
  // Add your custom styles here
  padding: 53px 0 59px;

  .block-title {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 21px;
    }
  }

  .titles {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      font-size: 22px;
      line-height: 30px;
      margin-top: 25px;
    }
  }

  .accordion {

    .accordion-item:has(.accordion-button[aria-expanded="true"]) {

      .accordion-body {

        .social-holder {
          @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
            padding-top: 87px;
          }
        }
      }
    }

    .accordion-button {
      display: block;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding: 17px 60px 18px 0;
      }

      &:hover {
        &:after {
          filter: none;
        }
      }

      &[aria-expanded="true"] {

        &:before {
          background: black;
        }

        .img-holder {

          img {
            height: calc(100% + 80px);
            bottom: -80px;
          }
        }
      }

      &:before {
        background: $white;
        border: 1px solid $black;
      }

      figure {
        margin-bottom: 0;
      }

      .h5 {
        margin-bottom: 0;
        @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
          font-size: 44px;
          line-height: 50px;
          margin-bottom: -8px;
        }
      }

      .title-holder {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-left: 30px;
        }
      }
    }

    .accordion-body {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding: 6px 80px 90px 0;
      }

      .text-holder {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          padding-left: 35px;
          padding-right: 60px;
        }
      }

      .social-holder {
        @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
          // padding-top: 87px;
          font-size: 16px;
          line-height: 20px;
          transition: padding 0.3s ease-in-out;
        }

        a {
          display: inline-block;
          vertical-align: top;
          margin-bottom: 4px;
        }
      }

      .social-title {
        margin-bottom: 8px;

      }
    }

    .img-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-right: 3px;
      }

      .media-item_holder {
        position: relative;
        padding-bottom: 74%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }
    }

    .position-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-left: 51px;
      }
    }
  }
}
