<section class="bg-primary hero hero--simple">
  {% block content %}
    <div class="container">
      {% include "@partial/breadcrumb.twig" with { post } only %}
      <h1>{{title|default(post.title)}}</h1>
      {% include "@partial/jump_links.twig" with { post } only %}
      {% include "@partial/media-item.twig" with { image: post.thumbnail } only %}
    </div>
  {% endblock %}
</section>
