{% embed '@partial/block_wrapper.twig' with { extra_classes: 'block_events-list' } %}
  {% block content %}
    {% set post_type = 'event' %}


    <p>{{fields.title}}</p>

    {% set selections = [] %}
    {% if fields.selection_type == 'manual' %}
      {% set selections = fields.selections %}
    {% elseif fields.selection_type == 'all' %}
      {% set selections = get_posts({ post_type }) %}
    {% elseif fields.selection_type == 'past' %}
      {% set today = fn('getdate') %}
      {% set selections = get_posts({
        post_type,
        date_query: 
          [ 
            {
              year : today.year,
              month : today.mon,
              day : today.mday,
            },
          ],
      }) %}
    {% elseif fields.selection_type == 'related' %}
      {% set relation_taxonomies = ['tax-research-area', 'event-category' ] %}
      {% set tax_query = relation_taxonomies|map(relation_taxonomy => ({
        taxonomy: relation_taxonomy,
        field: 'slug',
        terms: post.terms(relation_taxonomy)|default([])|map(t => t.slug)
      })) %}

      {% set tax_query = tax_query|merge({
        relation: "OR"
      }) %}

      {% set selections = get_posts({
        post_type,
        post__not_in: [post.ID],
        tax_query,
      }) %}
    {% endif %}

    {% include '@partial/post-repeater.twig' with { posts: selections } only %}

  {% endblock %}
{% endembed %}
