.block_events-list {
  // Add your custom styles here
  padding: 31px 0 40px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 53px 0 78px;
  }

  &[data-bs-theme="warm-light"] {
    .tease:not(.tease-research-area):hover {
      background-color: $white;
    }
  }

  .events-list {

    .date {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        line-height: 18px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
        margin-bottom: 52px;
      }

      .mark {
        color: $bright-red;
      }
    }

    .h5 {
      @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
        line-height: 53px;
      }
    }

    .img-holder {

      .media-item_holder {
        padding-bottom: 100%;
      }
    }

    .category-list {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: -3px;
      }
    }

    .btn-holder {
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        padding-right: 12px;
        padding-left: 0px;
      }
      @media screen and (min-width: map-get($grid-breakpoints, 'xl')) {
        padding-left: 25px;
        padding-right: 37px;
      }

      .btn {
        padding: 14px 20px;
      }
    }
  }
}
