.block_factoids {

  padding: 44px 0;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 90px 0 40px;
  }

  .card-title {
    font-size: 90px;
    line-height: 1;
    margin-bottom: 4px;
    display: block;
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 100px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'xxl')) {
      font-size: 120px;
    }
  }

  .caption {
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 14px;
    }
  }
}

.factoid-col {
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 0 15px;
  }

  &:last-child {
    .factoid-card {
      margin-bottom: 0;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        margin-bottom: 40px;
      }
    }
  }
}

.factoid-row {
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    margin: 0 -15px;
  }
}

.factoid-card {
  padding-bottom: 100%;
  border-radius: 100%;
  display: flex;
  margin: 0 auto 40px;
  position: relative;
  background-color:  var(--bs-secondary-bg);
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    max-width: 406px;
  }

  .factoid-card-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }
}
