.block_four-up-text-callout {
  // Add your custom styles here

  padding: 27px 0 11px;
  @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
    padding: 75px 0 53px;
  }

  .block-title {
    padding-bottom: 0;
    margin-bottom: 14px;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 18px;
    }
  }

  .h4 {
    font-family: 'Season';
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 71px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, 'lg')) {
      font-size: 60px;
      line-height: 70px;
      max-width: 90%;
    }
  }

  .subheader-sans {
    margin-bottom: 21px;
    padding-left: 42px;
    position: relative;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      margin-bottom: 50px;
      padding-top: 2px;
    }

    &::before {
      font-family: 'FT System Mono';
      content: counter(step-counter, decimal-leading-zero);
      color: var(--#{$prefix}body-color);
      background-color: var(--#{$prefix}body-bg);
      border-radius: 50px;
      width: 30px;
      height: 30px;
      position: absolute;
      top: 0px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      font-weight: 600;
      @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
        font-size: 14px;
      }
    }
  }

  .text-callouts-list {
    counter-reset: step-counter;
  }

  .text-callout-item {
    background: rgba($white, 0.2);
    counter-increment: step-counter;
    padding: 19px 15px 16px;
    margin-bottom: 14px;
    min-height: 262px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      padding: 20px 27px;
      margin-bottom: 33px;
      height: calc(100% - 33px);
      min-height: 320px;
    }

    p {
      margin-bottom: 0;
    }
  }
}
